.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-color: white;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../src/background.jpg")
}

.HomeText{
  text-shadow: 2px 2px black;
  text-decoration-color: black;
}

#CurrentHeroForm {
  position: fixed;
  top:20px;
  right:20px;
  z-index: 1;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.ytVideo{
  height: 1vh;
}

/* #userDropdown{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav img{
  width: 20vw;
  height: 20vw;
}

nav{
  text-align: center;
} */