.App {
  text-align: center;
  height: auto;
  /* height: 100vh */
  background-color: white;
  /* background-size: 100vh; */
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../src/background.jpg")
}

.HomeText{
  text-shadow: 2px 2px black;
  text-decoration-color: black;
}
